<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="small" [routerLink]="['/cocktail-add-or-edit']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MyList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let cocktail of cocktails" button [routerLink]="['./', cocktail.id]">
            <ion-label>
              {{cocktail.strDrink}}
            </ion-label>
          </ion-item>
        </ion-list>
        <div *ngIf="cocktails.length == 0" class="ionic-text-center">
          Your list is empty.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
