<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button size="small" [routerLink]="['/my-list']">MyList</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Cocktail App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-searchbar placeholder="Enter Cocktail Name" [(ngModel)]="searchValue" (ionChange)="onInput()">
        </ion-searchbar>
        <ion-list *ngIf="!isLoading">
          <ion-item button *ngFor="let cocktail of cocktails" [routerLink]="['/cocktail', cocktail.idDrink]">
            <ion-label>
              {{cocktail.strDrink}}
            </ion-label>
          </ion-item>
          <ion-label *ngIf="!cocktails">No match found</ion-label>
        </ion-list>
        <div class="ion-text-center" *ngIf="isLoading">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
